@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  margin: 50px 150px 0;
  padding: 30px;
  border: solid 2px #000000;
}

.container .content{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* create a new form */
.App {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.App label {
  text-align: left;
  display: block;
}

.App h1 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
}

.App input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.App button {
  background: #000000;
  color: #fff;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}